<body style="overflow: hidden";>
@* Início Carousel *@
<div id="carousel-inicio" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slides/slide-1.jpg" class="d-block w-100" alt="slide-img-1" id="slide-img-1" />
            <div class="text-overlay">
                <p>Vagas na região Sul Fluminense</p>
                <a asp-controller="Vaga" asp-action="Index" id="btn-overlay" class="btn btn-primary" role="button">
                    <i class="fa-solid fa-magnifying-glass"></i>Procurar
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/slide-2.jpg" class="d-block w-100" alt="slide-img-2">
            <div class="text-overlay" id="text-overlay-2">
                <p>Compartilhe sua experiência adquiridas nas empresas em que já atuou, trabalhador!</p>
                <a asp-controller="" asp-action="" id="btn-overlay" class="btn btn-primary" role="button">
                    <i class="fa-regular fa-star"></i>Avaliar Empresas
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/slide-3.jpg" class="d-block w-100" alt="slide-img-3">
            <div class="text-overlay" id="text-overlay-2">
                <p>Consiga sua próxima contratação aqui</p>
            <a asp-controller="" asp-action="" id="btn-overlay" class="btn btn-primary" role="button">
                    <i class="fa-regular fa-building" id="fa-building-overlay"></i>Área da Empresa
            </a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-inicio" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel-inicio" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
    @* Fim Carousel *@
</body>

