@model Model.Models.Vaga

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloVaga" class="control-label"></label>
                <input asp-for="TituloVaga" class="form-control" />
                <span asp-validation-for="TituloVaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ_Empresa" class="control-label"></label>
                <input asp-for="CNPJ_Empresa" class="form-control" />
                <span asp-validation-for="CNPJ_Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requisitos" class="control-label"></label>
                <input asp-for="Requisitos" class="form-control" />
                <span asp-validation-for="Requisitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaAtuacao" class="control-label"></label>
                <input asp-for="AreaAtuacao" class="form-control" />
                <span asp-validation-for="AreaAtuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoContrato" class="control-label"></label>
                <input asp-for="TipoContrato" class="form-control" />
                <span asp-validation-for="TipoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
